@import "__vars";
@import "__mixins";
@import "smart-grid";

.it-card__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.it-card__tags a {
  color: #259238;
  border: 1px solid;
  padding: 6px 10px 6px 9px;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
}

.it-card__tags a:before {
	content: '#';
}

.it-card__top {
  @include row-flex();
  margin-bottom: 30px;
}

.it-card__half--left {
  @include col();
  @include size(8);
  @include size-md(12);
}

.it-card__half--right {
  @include col();
  @include size(4);
  @include size-md(12);
}

.it-card__half-top {
  position: relative;
}


.it-card__img-box {
  overflow: hidden;
  max-height: 320px;
  margin-bottom: 45px;
  position: relative;
}

.it-card__show {
  position: absolute;
  top: 0;
  right: -9px;
  padding: 11px 30px 11px 45px;
  font-size: rem(14px);
  color: rgba(255, 255, 255, 0.87);
  background-color: $main-color;

}

.it-card__show:before {
	content: '';
    position: absolute;
    top: 50%;
    left: 14px;
    margin-top: -6px;
    display: inline-block;
    width: 20px;
    height: 12px;
	background: url("../img/card/decoration/1.png") no-repeat center;
}

.it-card__show:after {
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	right: 0;
    border: 4.5px solid transparent;
     border-left: 4.5px solid #660000;
     border-top: 4.5px solid #660000;

}

.it-card__img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}


.it-card__half-bottom {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px 20px;
  overflow: hidden;
}

.it-card__img-box-preview {
  overflow: hidden;
  max-width: 168px;
  max-height: 103px;
  margin: 0 5px;
}

.it-card__img-preview {
  display: block;
  max-width: 100%;
  height: auto;
}

.it-card__tilte {
  font-size: rem(20px);
  color: #000;
  font-weight: 700;
  margin-bottom: 15px;
}

.it-card__list {
  padding: 0;
  margin: 0;
  @include laptop {
      display: flex;
      flex-wrap: wrap;
  }
}

.it-card__item {
  list-style-type: none;
  padding-left: 30px;
  position: relative;
  color: #000000;
  font-size: 14px;
  margin-bottom: 12px;
}

.it-card__item+.it-card__item {
  @include laptop {
    padding-right: 1%;
    margin-left: 20px;
  }
}

.it-card__inner-list {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.it-card__item span {
  font-weight: 700;
  color: $main-color;
}

.it-card__item span sup {
  color: $main-color;
}

.it-card__inner-item {
  font-weight: 300;
  font-size: 14px;
  list-style-type: none;

}

.it-card__inner-item span {
  font-weight: 700;
  color: $main-color;
}

.it-card__inner-item span sup {
  color: $main-color;
}


.it-card__item:before {
	content: '';
	display: block;
	position: absolute;
	top: -3px;
	left: 0;
	width: 20px;
	height: 20px;

}

.it-card__item--icon1:before {
  background: url("../img/card/decoration/2.png") no-repeat center;
}

.it-card__item--icon2:before {
  background: url("../img/card/decoration/3.png") no-repeat center;
}

.it-card__item--icon3:before {
  background: url("../img/card/decoration/4.png") no-repeat center;
}

.it-card__other-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}

.it-card__other-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.it-card__other-list--indent {
  margin-bottom: 30px;
}

.it-card__other-item {
  width: 100%;
  list-style-type: none;
  padding-left: 20px;
  position: relative;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 300;
}

.it-card__other .it-card__other-item {
  max-width: 120px;
  width: 100%;
}

.it-card__other-item:before {
	content: '';
	display: block;
	position: absolute;
	top: 9px;
	left: 0;
	width: 6px;
	height: 6px;
    margin-top: -3px;
    border-radius: 50%;
    background-color: $main-color;
}


.it-card__btn+.it-card__btn {
  margin-top: 10px;
}

