section.it-card
		.it-card__tags
			a(href="#")
				| дома с сауной
			a(href="#")
				|	гостевой
			a(href="#")
				|	для летнего отдыха
			a(href="#")
				|	для постоянного проживания
		.it-card__wrap
			.it-card__top
				.it-card__half.it-card__half--left
					.it-card__half-top
						.it-card__img-box
							img.it-card__img(src="static/img/card/1.jpg", alt='')
							.it-card__show
								span
								| 37
								| за сегодня
					.it-card__half-bottom
						.it-card__img-box-preview
							img.it-card__img-preview(src="static/img/card/1.jpg", alt='')
						.it-card__img-box-preview
							img.it-card__img-preview(src="static/img/card/1.jpg", alt='')
						.it-card__img-box-preview
							img.it-card__img-preview(src="static/img/card/2.jpg", alt='')
				.it-card__half.it-card__half--right
					.it-card__tilte
						|	Проект №201
					ul.it-card__list
						li.it-card__item.it-card__item--area
							| Площадь объекта:
							ul.it-card__inner-list
								li.it-card__inner-item
									|	1 этаж:
									span.it-card__number
										|	81,4 м
										sup
											|	2
								li.it-card__inner-item
									|    1 этаж:
									span.it-card__number
										|    81,4 м
										sup
											|    2
						li.it-card__item.it-card__item--bedroom
						li.it-card__item.it-card__item--bathroom
						.it-card__other
							.it-card__other-title
								|	Дополнительные элементы проекта
							ul.it-card__other-list
								li.it-card__other-item
									|	Второй свет
								li.it-card__other-item
									|    Второй свет
								li.it-card__other-item
									|    Второй свет
								li.it-card__other-item
									|    Второй свет
						.it-card__buttons
							.it-btn.it-card__btn
								|	Узнать точную цену и комплектацию
							.it-btn.it-card__btn.it-btn--transparent
								|	Рассчитать свой проект за 2 минуты
			.it-card__bottom
						.it-card__tabs-nav-min(data-min-nav='')
							.it-card__tabs-nav-min-title-wrap
								span.it-card__tabs-nav-min-title(data-min-nav-title='') Маркетинг-менеджер
							ul.it-card__tabs-nav-min-list(data-switch-wrap='', data-min-nav-dropdown='')
								li.it-card__tabs-nav-min-item.active
									a.it-card__tabs-nav-min-link(href='', data-switch='speaker1', data-min-nav-item='')
										| Описание
								li.it-card__tabs-nav-min-item
									a.it-card__tabs-nav-min-link(href='', data-switch='speaker2', data-min-nav-item='')
										| Гарантии
								li.it-card__tabs-nav-min-item
									a.it-card__tabs-nav-min-link(href='', data-switch='speaker3', data-min-nav-item='')
										| Сроки
								li.it-card__tabs-nav-min-item
									a.it-card__tabs-nav-min-link(href='', data-switch='speaker4', data-min-nav-item='')
										| Интерьер
						ul.it-card__tabs-nav-wrap(data-switch-wrap='')
							li.it-card__tabs-nav-item.active
								a.it-card__tabs-nav-link(href='', data-switch='speaker1')
									|	Описание
							li.it-card__tabs-nav-item
								a.it-card__tabs-nav-link(href='', data-switch='speaker2')
									| Гарантии
							li.it-card__tabs-nav-item
								a.it-card__tabs-nav-link(href='', data-switch='speaker3')
									| Сроки
							li.it-card__tabs-nav-item
								a.it-card__tabs-nav-link(href='', data-switch='speaker4')
									| Интерьер
						ul.it-card__tabs-list(data-tabs-wrap='')
							li.it-card__tabs-item.active(data-tab='speaker1')
								.it-card__tabs-half.it-card__tabs-half--left
								.it-card__tabs-half.it-card__tabs-half--right
									.it-card__tabs-content
										.it-card__tabs-title
											| На первом этаже находятся:
										.it-card__tabs-desc
											ul.it-card__tabs-list
												li.it-card__tabs-item
												li.it-card__tabs-item
												li.it-card__tabs-item
							li.it-card__tabs-item(data-tab='speaker2')
								.it-card__tabs-half.it-card__tabs-half--left
									.it-card__tabs-img-box
										img.it-card__tabs-img(src='/wp-content/themes/divi-child-s-master/img/seo/card/2_big.jpg', alt='')
								.it-card__tabs-half.it-card__tabs-half--right
									.it-card__tabs-content
										.it-card__tabs-title
											| Что будет делать:
										.it-card__tabs-desc
											| Продумывает и настраивает рекламные кампании, следит за ставками и показателями
											| эффективности, оптимизирует расходы и обеспечивает результаты
						

