section.it-card
		.it-card__tags
			a(href="#")
				| дома с сауной
			a(href="#")
				|	гостевой
			a(href="#")
				|	для летнего отдыха
			a(href="#")
				|	для постоянного проживания
		.it-card__wrap
			.it-card__top
				.it-card__half.it-card__half--left
					.it-card__half-top
						.it-card__img-box
							img.it-card__img(src="static/img/card/1.jpg", alt='')
						.it-card__show
							span
							| 37
							| за сегодня
					.it-card__half-bottom
						.it-card__img-box-preview
							img.it-card__img-preview(src="static/img/card/1.jpg", alt='')
						.it-card__img-box-preview
							img.it-card__img-preview(src="static/img/card/1.jpg", alt='')
						.it-card__img-box-preview
							img.it-card__img-preview(src="static/img/card/2.jpg", alt='')
				.it-card__half.it-card__half--right
					.it-card__tilte
						|	Проект №201
					ul.it-card__list
						li.it-card__item.it-card__item--icon1
							| Площадь объекта:
							ul.it-card__inner-list
								li.it-card__inner-item
									|	1 этаж:
									span.it-card__number
										|	81,4 м
										sup
											|	2
								li.it-card__inner-item
									|    1 этаж:
									span.it-card__number
										|    81,4 м
										sup
											|    2
						li.it-card__item.it-card__item--icon2
							| Спальни:
							span
								|    4
						li.it-card__item.it-card__item--icon3
							| Санузла:
							span
								|    2
						.it-card__other
							.it-card__other-title
								|	Дополнительные элементы проекта
							ul.it-card__other-list
								li.it-card__other-item
									|	Второй свет
								li.it-card__other-item
									|    Второй свет
								li.it-card__other-item
									|    Второй свет
								li.it-card__other-item
									|    Второй свет
						.it-card__buttons
							.it-btn.it-card__btn
								|	Узнать точную цену и комплектацию
							.it-btn.it-card__btn.it-btn--transparent
								|	Рассчитать свой проект за 2 минуты
			.it-card__bottom
						.it-card__tabs-nav-min(data-min-nav='')
							.it-card__tabs-nav-min-title-wrap
								span.it-card__tabs-nav-min-title(data-min-nav-title='') Маркетинг-менеджер
							ul.it-card__tabs-nav-min-list(data-switch-wrap='', data-min-nav-dropdown='')
								li.it-card__tabs-nav-min-item.active
									a.it-card__tabs-nav-min-link(href='', data-switch='speaker1', data-min-nav-item='')
										| Описание
								li.it-card__tabs-nav-min-item
									a.it-card__tabs-nav-min-link(href='', data-switch='speaker2', data-min-nav-item='')
										| Гарантии
								li.it-card__tabs-nav-min-item
									a.it-card__tabs-nav-min-link(href='', data-switch='speaker3', data-min-nav-item='')
										| Сроки
								li.it-card__tabs-nav-min-item
									a.it-card__tabs-nav-min-link(href='', data-switch='speaker4', data-min-nav-item='')
										| Интерьер
						ul.it-card__tabs-nav-wrap(data-switch-wrap='')
							li.it-card__tabs-nav-item.active
								a.it-card__tabs-nav-link(href='', data-switch='speaker1')
									|	Описание
							li.it-card__tabs-nav-item
								a.it-card__tabs-nav-link(href='', data-switch='speaker2')
									| Гарантии
							li.it-card__tabs-nav-item
								a.it-card__tabs-nav-link(href='', data-switch='speaker3')
									| Сроки
							li.it-card__tabs-nav-item
								a.it-card__tabs-nav-link(href='', data-switch='speaker4')
									| Интерьер
						ul.it-card__tabs-list(data-tabs-wrap='')
							li.it-card__tabs-item.active(data-tab='speaker1')
									.it-card__tabs-content
										.it-card__tabs-half.it-card__tabs-half--left
											
												.it-card__other-title
													| На первом этаже находятся:
												ul.it-card__other-list.it-card__other-list--indent
													li.it-card__other-item
														|    гостиная, столовая, кухня, прихожая,
													li.it-card__other-item
														|    спальня, санузел, душевая, терраса,
													li.it-card__other-item
														|    техническое помещение, холл.
											
												.it-card__other-title
													| Дом из профилированного бруса (массив/клееный) с террасой.
												ul.it-card__inner-list
													li.it-card__inner-item
														|    Площадь первого этажа:
														span.it-card__number
															|    116,76 м
															sup
																|    2
													li.it-card__inner-item
														|    Площадь второго этажа:
														span.it-card__number
															|    105,81 м
															sup
																|    2
													li.it-card__inner-item
														|    Площадь балконов и террас:
														span.it-card__number
															|    134,19 м
															sup
																|    2
													li.it-card__inner-item
														|    Площадь здания:
														span.it-card__number
															|    354,76 м
															sup
																|    2
										.it-card__tabs-half.it-card__tabs-half--right
											
												.it-card__other-title
													| На втором этаже располагаются:
												ul.it-card__other-list.it-card__other-list--indent
													li.it-card__other-item
														|    три спальных комнаты, второй свет,
													li.it-card__other-item
														|    холл, санузел, два балкона, гардероб.

							li.it-card__tabs-item(data-tab='speaker2')
								.it-card__tabs-content
									.it-card__tabs-half.it-card__tabs-half--left
										
											.it-card__other-title
												| Гарантия 25 лет:
											ul.it-card__other-list.it-card__other-list--indent
												li.it-card__other-item
													|    На фундамент
												li.it-card__other-item
													|    На стенокомплект и кровлю
									.it-card__tabs-half.it-card__tabs-half--right
										.it-card__tabs-img-box
											img.it-card__tabs-img(src="static/img/card/tabs/1.jpg", alt='')
							li.it-card__tabs-item(data-tab='speaker3')
								.it-card__tabs-content
									.it-card__tabs-half.it-card__tabs-half--left
										
											.it-card__other-title
												| Сроки строительства:
											ul.it-card__other-list.it-card__other-list--indent
												li.it-card__other-item
													|    Дом из профилированного бруса - от 2,5 мес.
												li.it-card__other-item
													|    Дом из клееного бруса - от 1,5 мес.
												li.it-card__other-item
													|    Дом "под ключ" - от 5 мес.
									.it-card__tabs-half.it-card__tabs-half--right
										.it-card__tabs-img-box
											img.it-card__tabs-img(src="static/img/card/tabs/2.jpg", alt='')
							li.it-card__tabs-item(data-tab='speaker4')
								.it-card__tabs-content
									.it-card__tabs-half.it-card__tabs-half--left
										.it-card__other-title
											| Интерьерные решения
										.it-card__tabs-text
											p
												|    Интерьер деревянного дома внутри может вовсе не напоминать материал, из коротого он выполнен. Стиль все чаще напоминает модерн, прованс.
											p
												|    Вы можете воплотить в жизнь любые идеи, как жить с комфортом. Можете заниматься саморазвитием и хобби, организовать себе досуг по душе, не выходя из дома!

									.it-card__tabs-half.it-card__tabs-half--right
										.it-card__tabs-img-box-slider
											.it-card__tabs-img-box
												img.it-card__tabs-img(src="static/img/card/tabs/3.png", alt='')
											.it-card__tabs-img-box-preview-wrap
												.it-card__tabs-img-box-preview
													img(src="static/img/card/tabs/4.jpg", alt='').it-card__tabs-img
												.it-card__tabs-img-box-preview
													img(src="static/img/card/tabs/5.jpg", alt='').it-card__tabs-img



