// --------------------- it-file -------------------------
section.it-file-drop
	.it-all-title
		|	Понравился проект из интернета?
	.it-all-subtitle
		|	Есть свой проект? Эскиз от руки?
	.it-container
		.it-file-drop__wrap
			.it-file-drop__half.it-file-drop__half--left
				.it-file-drop__img-box
					img.it-file-drop__img(src='static/img/file-drop/1.jpg', alt='')
			.it-file-drop__half.it-file-drop__half--right
				.it-file-drop__half-inner
					.it-file-drop__title
						|Отправьте нам любое фото из интернета,
						br
						|	и мы скажем, сколько будет стоить
						br
						|	построить такой дом!
					form.it-file-drop__form-callback.it-form--hide(enctype='multipart/form-data', novalidate='novalidate', method='post')
						input(name='section', type='hidden', value='review_section')
						.it-file-drop__input-wrap
							.it-callback__half.it-file-drop__callback-half
								.it-file-drop__half-title
									|	Ваше имя
								input.it-callback__input.valid(type='text', name='name', maxlength='200', value='', placeholder='Иван', aria-required='true', aria-invalid='false')
							.it-callback__half.it-file-drop__callback-half
								.it-file-drop__half-title
									|    Ваш телефон
								input.it-callback__input.valid(type='tel', name='phone', value='', placeholder='+7 (999_ 999-99-99', data-phone='true', autocomplete='off', maxlength='18', aria-required='true', aria-invalid='false', data-mask='phone')
							.it-checkbox-wrap.it-file-drop__checkbox-wrap
								label.it-checkbox
									input.it-checkbox__default(type='checkbox', name='AGREE', checked='', required='')
									span.it-checkbox__pseudo
									span.it-checkbox__text 	Подтверждаю свое согласие на обработку персональных данных
							.it-callback__half.it-file-drop__callback-half
								label.it-callback__file-drop-label
									input#add_file.it-callback__file-drop(accept='image/jpeg,image/png,image/gif', name='file', type='file', required='')
									span.it-callback__file-drop-title.it-btn Прикрепить файл
									.it-file-field__button-name
							.it-callback__half.it-callback__buttons.it-file-drop__callback-half
								button.it-btn.it-callback__btn(type='submit') Отправить заявку
						.it-form__success
							| Спасибо!
							br
							|  Ваша заявка принята.
