aside.it-other-progectss
		.it-other-progects__title
			|	Похожие проекты:
		.it-other-progectss__wrap

			ul.it-other-progects__list
				li.it-other-progects__item
					a(href="#").it-other-progects__inner-item
						.it-other-progects__img-box
							img.it-other-progects__img(src="static/img/other-progects/1.jpg", alt='')
						.it-other-progects__content
							.it-other-progects__item-title
								|	Проект №301
							.it-other-progects__item-price
								|	от
								span
									|	6 230 400
								|	₽
				li.it-other-progects__item
					a(href="#").it-other-progects__inner-item
						.it-other-progects__img-box
							img.it-other-progects__img(src="static/img/other-progects/1.jpg", alt='')
						.it-other-progects__content
							.it-other-progects__item-title
								|    Проект №301
							.it-other-progects__item-price
								|    от
								span
									|    6 230 400
								|    ₽
			.it-other-progects__person
				ul.it-other-progects__person__list
					li.it-other-progects__person-item
						.it-other-progects__person-img-box
							img(src="static/img/other-progects/2.jpg", alt='').it-other-progects__person-img
						.it-other-progects__person-content
							.it-other-progects__person-title
								|    Директор по строительству
								| Александр Александрович
							.it-other-progects__person-subtitle
								|	Отвечу на любые вопросы
							.it-other-progects__person-buttons
								.it-other-progects__person-btn.it-btn
									|	Задать вопрос



