section.it-price-house.it-all--indent
	.it-price-house__wrap
		.it-price-house__all-title
			|	Стоимость дома включает в себя
		.it-price-house__top
			ul.it-price-house__list
				li.it-price-house__item
					.it-price-house__img-box
						img(src="static/img/price-house/1.png", alt='').it-price-house__img
					.it-price-house__title
						|	Геодезия
				li.it-price-house__item
					.it-price-house__img-box
						img(src="static/img/price-house/2.png", alt='').it-price-house__img
					.it-price-house__title
						|	Фундамент
				li.it-price-house__item
					.it-price-house__img-box
						img(src="static/img/price-house/3.png", alt='').it-price-house__img
					.it-price-house__title
						|	Доставка

				li.it-price-house__item
					.it-price-house__img-box
						img(src="static/img/price-house/4.png", alt='').it-price-house__img
					.it-price-house__title
						|	Стеновой комплект

				li.it-price-house__item
					.it-price-house__img-box
						img(src="static/img/price-house/5.png", alt='').it-price-house__img
					.it-price-house__title
						|	Кровля

				li.it-price-house__item
					.it-price-house__img-box
						img(src="static/img/price-house/6.png", alt='').it-price-house__img
					.it-price-house__title
						|	Окна

				li.it-price-house__item
					.it-price-house__img-box
						img(src="static/img/price-house/7.png", alt='').it-price-house__img
					.it-price-house__title
						|	Технадзор
		.it-price-house__bottom
			.it-price-house__bottom-half.it-price-house__bottom--left
				form.it-callback__form(action="", method="post")
					.it-callback__input-wrap
						.it-callback__half.it-price-house__half
							.it-callback__input-title
								|    Ваш телефон
							input.it-callback__input(type='tel', name='PHONE', maxlength='200', value='', placeholder='+ 7 (999) 999-99-99', data-phone='true', required, data-mask='phone')
						.it-callback__half.it-price-house__half.it-callback__buttons.it-price-house__buttons
							a(href="").it-btn.it-callback__btn Отправить заявку
					.it-checkbox-wrap
						label.it-checkbox
							input.it-checkbox__default(type="checkbox" name="AGREE" checked)
							span.it-checkbox__pseudo
							span.it-checkbox__text Подтверждаю свое согласие на обработку
								br
								|	персональных данных

			.it-price-house__bottom-half.it-price-house__bottom--right
				.it-price-house__bottom
					.it-price-house__content
						.it-price-house__bottom-title
							|	Персональный менеджер*
						.it-price-house__bottom-subtitle
							|    Отправляем фото и видеоотчеты
							br
							| со строительной площадки
