section.service
	.it-container
		.it-all-title
			|    Сервис и гарантия
		.service__wrap
				ul.service__list
					li.service__item
						.service__inner-item
							.service__img-box
								img(src="static/img/service/1.png", alt='').service__img
							.service__content
								.service__title
									|	Гарантия 25 лет
								.service__desc
									|	При строительстве дома "под ключ"
					li.service__item
						.service__inner-item
							.service__img-box
								img(src="static/img/service/2.png", alt='').service__img
							.service__content
								.service__title
									|	Закрепление цен
								.service__desc
									|	При подписании договора цена фиксируется. Все неучтенные расходы за наш счет
					li.service__item
						.service__inner-item
							.service__img-box
								img(src="static/img/service/3.png", alt='').service__img
							.service__content
								.service__title
									|	Обслуживание объекта
								.service__desc
									|	Обеспечим равномерную усадку дома
					li.service__item
						.service__inner-item
							.service__img-box
								img(src="static/img/service/4.png", alt='').service__img
							.service__content
								.service__title
									|	Закрепленный
								.service__desc
									|	Независимый инженерный контроль
					li.service__item
						.service__inner-item
							.service__img-box
								img(src="static/img/service/5.png", alt='').service__img
							.service__content
								.service__title
									|	Исполнительная документация
								.service__desc
									|	Формируем пакет исполнительных документов по всем видам работ
					li.service__item
						.service__inner-item
							.service__img-box
								img(src="static/img/service/6.png", alt='').service__img
							.service__content
								.service__title
									|	Персональный менеджер
								.service__desc
									|    Отправляем фото
									| и видеоотчеты со строительной площадки
