// --------------------- it-steps -------------------------
section.it-steps.it-all--indent
	.it-container
		.it-steps__wrap
			.it-steps__title
				| Уточните комплектацию для расчета стоимости дома:
			.it-steps__item
				.it-steps__step
					| Шаг
					span.it-steps__step-number(data-it-calculation-counter='') 1
					|:
					span.it-steps__step-text(data-it-calculation-text='') Выберите материал для строительства
				.it-steps__step-line
					.it-steps__line-inner(data-it-line-inner='')
				form.it-steps__form.it-form--hide(action='/sendCallBack.php', data-it-form='')
					ul.it-steps__inner-wrap
						li.it-steps__inner-item(data-it-calculation-item='1')
							.it-steps__half
								.it-checkbox.it-steps__checkbox
									label.it-checkbox
										input.it-checkbox__default(type="checkbox" name="AGREE" checked)
										span.it-checkbox__pseudo
										span.it-checkbox__text
											|	Клееный брус
								.it-steps__img-box
									img(src="static/img/steps/1.png", alt='').it-steps__img
							.it-steps__half
								.it-checkbox.it-steps__checkbox
									label.it-checkbox
										input.it-checkbox__default(type="checkbox" name="AGREE" checked)
										span.it-checkbox__pseudo
										span.it-checkbox__text
											|    Сухой проф.брус
								.it-steps__img-box
									img(src="static/img/steps/2.png", alt='').it-steps__img
							.it-validate-error
								| Заполните поля
						li.it-steps__inner-item(data-it-calculation-item='2')
							.it-steps__half.it-steps__half--size1
								.it-steps__inner-half
									.it-steps__img-box.it-steps__img-box--min
										img(src="static/img/steps/3.png", alt='').it-steps__img
									.it-checkbox.it-steps__checkbox
										label.it-checkbox
											input.it-checkbox__default(type="checkbox" name="AGREE" checked)
											span.it-checkbox__pseudo
											span.it-checkbox__text
												|    Клееный брус
								.it-steps__inner-half
									.it-steps__img-box.it-steps__img-box--min
										img(src="static/img/steps/4.png", alt='').it-steps__img
									.it-checkbox.it-steps__checkbox
										label.it-checkbox
											input.it-checkbox__default(type="checkbox" name="AGREE" checked)
											span.it-checkbox__pseudo
											span.it-checkbox__text
												|    Клееный брус
							.it-steps__half.it-steps__half--size1
								.it-steps__inner-half
									.it-steps__img-box.it-steps__img-box--min
										img(src="static/img/steps/5.png", alt='').it-steps__img
									.it-checkbox.it-steps__checkbox
										label.it-checkbox
											input.it-checkbox__default(type="checkbox" name="AGREE" checked)
											span.it-checkbox__pseudo
											span.it-checkbox__text
												|    Клееный брус
									.it-steps__inner-half
										.it-steps__img-box.it-steps__img-box--min
											img(src="static/img/steps/6.png", alt='').it-steps__img
										.it-checkbox.it-steps__checkbox
											label.it-checkbox
												input.it-checkbox__default(type="checkbox" name="AGREE" checked)
												span.it-checkbox__pseudo
												span.it-checkbox__text
													|    Клееный брус


						li.it-steps__inner-item(data-it-calculation-item='3')
							.it-steps__half.it-steps__half--size2
								.it-checkbox.it-steps__checkbox
									label.it-checkbox
										input.it-checkbox__default(type="checkbox" name="AGREE" checked)
										span.it-checkbox__pseudo
										span.it-checkbox__text
											|    Клееный брус
									label.it-steps__label
										| Какой вид топлива Вас интересует?
										select#fuel.it-steps__select(name='fuel', required='')
											option(value='', selected='', disabled='')
												| выберите вид топлива
											option(value='Бензин АИ-92, АИ-95, АИ-98')
												| Бензин АИ-92, АИ-95, АИ-98
											option(value='Дизель, дизель эко')
												| Дизель, дизель эко
											option(value='Газ - пропан, метан')
												| Газ - пропан, метан
							.it-steps__half.it-steps__half--size2
								.it-checkbox.it-steps__checkbox
									label.it-checkbox
										input.it-checkbox__default(type="checkbox" name="AGREE" checked)
										span.it-checkbox__pseudo
										span.it-checkbox__text
											|    Сухой проф.брус

						li.it-steps__inner-item(data-it-calculation-item='4')
							.it-steps__subtitle.it-steps__subtitle--indent
								| После отправки заявки менеждер рассчитает, перезвонит
								| и предложит варианты
							.it-checkbox__input-wrap
								input.it-callback__input.it-steps__checkbox--size(name='NAME', maxlength='200', value='', placeholder='Ваше имя', required='')
								input.it-callback__input.it-steps__checkbox--size(type='tel', name='PHONE', maxlength='200', value='', placeholder='Ваш телефон', data-phone='true', required='')
								input(type='hidden', name='FORM_NAME', value='test')
								input(type='hidden', name='name')
								input(type='hidden', name='phone')
							.it-steps__checkbox--center
								.it-checkbox
									input#agree1.it-checkbox__input(type='checkbox', name='agree', value='1', checked='', required='')
									label.it-checkbox__label(for='agree1')
										span.it-checkbox__control
										span.it-checkbox__pseudo-label
											| Подтверждаю свое согласие
											br
											|  на обработку персональных данныхSS
					.it-steps__buttons
						button.it-btn.it-steps__btn.it-steps__btn--prev(type='button', data-it-btn='prev')
							| Назад
						button.it-btn.it-steps__btn.it-steps__btn--next.it-btn--arrow.active(type='button', data-it-btn='next')
							| Далее
							img(src="static/img/arrow.png", alt='').it-btn--arrow
						button.it-btn.it-steps__btn.it-steps__btn--send(type='submit', data-it-btn='send')
							| Отправить
					.it-form__success
						p Спасибо!
						p Ваша заявка принята