section.it-tabs
	.it-tabs__wrap
		.it-all-title
			|    Преимущества конструкции:
		.it-tabs__nav-min(data-min-nav='')
			.it-tabs__nav-min-title-wrap
				span.it-tabs__nav-min-title(data-min-nav-title='') Маркетинг-менеджер
			ul.it-tabs__nav-min-list(data-switch-wrap='', data-min-nav-dropdown='')
				li.it-tabs__nav-min-item.active
					a.it-tabs__nav-min-link(href='', data-switch='speaker1', data-min-nav-item='')
						| Фундамент
				li.it-tabs__nav-min-item
					a.it-tabs__nav-min-link(href='', data-switch='speaker2', data-min-nav-item='')
						| Стены
				li.it-tabs__nav-min-item
					a.it-tabs__nav-min-link(href='', data-switch='speaker3', data-min-nav-item='')
						| Кровля
				li.it-tabs__nav-min-item
					a.it-tabs__nav-min-link(href='', data-switch='speaker4', data-min-nav-item='')
						| Окна и двери
		ul.it-tabs__nav-wrap(data-switch-wrap='')
			li.it-tabs__nav-item.active
				a.it-tabs__nav-link(href='', data-switch='speaker1')
					|	Фундамент
			li.it-tabs__nav-item
				a.it-tabs__nav-link(href='', data-switch='speaker2')
					| Кровля
			li.it-tabs__nav-item
				a.it-tabs__nav-link(href='', data-switch='speaker3')
					| Сроки
			li.it-tabs__nav-item
				a.it-tabs__nav-link(href='', data-switch='speaker4')
					| Окна и двери
		ul.it-tabs__list(data-tabs-wrap='')
			li.it-tabs__item.active(data-tab='speaker1')
				.it-tabs__content
					ul.it-tabs__other-list.it-tabs__other-list--gorizontal
						li.it-tabs__other-item.it-tabs__other-item--gorizontal
							|    Тип железобетонного фундамента определяется на основе данных геологических изысканий.
						li.it-tabs__other-item.it-tabs__other-item--gorizontal
							|    Фундамент строится на основе проекта железобетонных конструкций, с учетом несущей способности и особенностей грунта.
						li.it-tabs__other-item.it-tabs__other-item--gorizontal
							|    Формируем пакет исполнительных документов, в том числе сертификаты качества на бетон и арматуру.
					.it-tabs__bottom
						.it-tabs__bottom-img-box
							img(src="static/img/tabs2/1.jpg", alt='').it-tabs__bottom-img
						.it-tabs__bottom-img-box
							img(src="static/img/tabs2/2.jpg", alt='').it-tabs__bottom-img
						.it-tabs__bottom-img-box
							img(src="static/img/tabs2/3.jpg", alt='').it-tabs__bottom-img
						.it-tabs__bottom-img-box
							img(src="static/img/tabs2/4.jpg", alt='').it-tabs__bottom-img

			li.it-tabs__item(data-tab='speaker2')
				.it-tabs__content
					ul.it-tabs__other-list.it-tabs__other-list--gorizontal
						li.it-tabs__other-item.it-tabs__other-item--gorizontal
							|    В изготовлении домокомплектов используется лес, заготовленный в арендных лесах. Объемы ежегодной заготовки 100 000 м3. Участок леса площадью 43 000 Га (1 км * 430 км) в аренде.
						li.it-tabs__other-item.it-tabs__other-item--gorizontal
							|    Мощное производство, прошедшее модернизацию в 2017 году. Используем высокоточный инструмент IBERUS с точностью нарезки чаш 0,25мм.
						li.it-tabs__other-item.it-tabs__other-item--gorizontal
							|    Для клееного бруса используем только экологически чистые клеи AKZO NOBEL. Клей не содержит формальдегида, не разрушается со временем.
						li.it-tabs__other-item.it-tabs__other-item--gorizontal
							|    Полная комплектация объекта
							| собственного производства
					.it-tabs__bottom
						.it-tabs__bottom-img-box
							img(src="static/img/tabs2/5.jpg", alt='').it-tabs__bottom-img
						.it-tabs__bottom-img-box
							img(src="static/img/tabs2/6.jpg", alt='').it-tabs__bottom-img
						.it-tabs__bottom-img-box
							img(src="static/img/tabs2/7.jpg", alt='').it-tabs__bottom-img
						.it-tabs__bottom-img-box
							img(src="static/img/tabs2/8.jpg", alt='').it-tabs__bottom-img

			li.it-tabs__item(data-tab='speaker3')
				.it-tabs__content
					ul.it-tabs__other-list.it-tabs__other-list--gorizontal
						li.it-tabs__other-item.it-tabs__other-item--gorizontal
							|    Для каждого проекта конструктор рассчитывает величину снеговой и ветровой нагрузки.
						li.it-tabs__other-item.it-tabs__other-item--gorizontal
							|    Усиленная стропильная система
							| (200 мм) и утепление для северных районов. Гидропароизоляционные материалы от ведущих мировых производителей.
						li.it-tabs__other-item.it-tabs__other-item--gorizontal
							|    Учитываем усадку древесины. В базовой комплектации используем скользящие опоры стропил и компенсаторы усадки.
						li.it-tabs__other-item.it-tabs__other-item--gorizontal
							|    Бригады кровельщиков с опытом от 7 лет. Технический контроль на стороне заказчика.
					.it-tabs__bottom
						.it-tabs__bottom-img-box
							img(src="static/img/tabs2/9.jpg", alt='').it-tabs__bottom-img
						.it-tabs__bottom-img-box
							img(src="static/img/tabs2/10.jpg", alt='').it-tabs__bottom-img
						.it-tabs__bottom-img-box
							img(src="static/img/tabs2/11.jpg", alt='').it-tabs__bottom-img
						.it-tabs__bottom-img-box
							img(src="static/img/tabs2/12.jpg", alt='').it-tabs__bottom-img

			li.it-tabs__item(data-tab='speaker4')
				.it-tabs__content
					ul.it-tabs__other-list.it-tabs__other-list--gorizontal
						li.it-tabs__other-item.it-tabs__other-item--gorizontal
							|    Окна, соответствующие стандартам теплосбережения 2016 года по результатам лабораторных испытаний.
						li.it-tabs__other-item.it-tabs__other-item--gorizontal
							|    Пятикамерный немецкий профиль, двухкамерный стеклопакет, усиленное армирование каркаса 1,5мм, комбинированная теплая рамка, исключающая запотевание.
						li.it-tabs__other-item.it-tabs__other-item--gorizontal
							|    Немецкая фурнитура от компании ROTO ST.
						li.it-tabs__other-item.it-tabs__other-item--gorizontal
							|	Надежная и очень теплая входная дверь ARGUS – TERMO.
					.it-tabs__bottom
						.it-tabs__bottom-img-box
							img(src="static/img/tabs2/13.jpg", alt='').it-tabs__bottom-img
						.it-tabs__bottom-img-box
							img(src="static/img/tabs2/14.jpg", alt='').it-tabs__bottom-img
						.it-tabs__bottom-img-box
							img(src="static/img/tabs2/15.jpg", alt='').it-tabs__bottom-img
						.it-tabs__bottom-img-box
							img(src="static/img/tabs2/16.jpg", alt='').it-tabs__bottom-img

