section.it-video.it-all--indent
	.it-all-title
		|	Возможно, это будет вам интересно:
	.it-container
		.it-video__wrap
			ul.it-video__list
				li.it-video__item
			.it-video__buttons
				a(href="#").it-video__btn.it-btn
					|	Перейти к фото и видео